@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown > * {
  all: revert;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #484848;
  cursor: pointer;
  transition: border-color 0.25s;
}

input:focus {
  outline: 4px auto rgb(211, 211, 211);
}

textarea:focus {
  outline: 4px auto rgb(211, 211, 211);
}

button:hover {
  background-color: #595959;
}

#button-post {
  border-radius: 0px;
  background-color: inherit;
}
#button-post:hover {
  background-color: #242424;
  border-radius: 8px;
}
#button-post:focus,
#button-post:focus-visible {
  outline: 0
}